body{
    background: #272727;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p{
    padding-left: 25px;
    padding-right: 25px;
}

h3{
    padding-left: 10px;
}

.content{
    position: absolute;
    top: 80px;
    width: 100%;
}

.section{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.about_me{
    color: #fff;
    width: 100%;
}

.education{
    background:rgb(0, 255, 242);
    width: 100%;
}

.skills{
    background:rgb(0, 255, 242);
}

.blue_header{
    color: rgb(0, 255, 242);
    text-align: center;
}
.blue_title{
    color: rgb(0, 255, 242);
}

.gray_header{
    color:  #272727;
    text-align: center;
}

.section_title{
    width: 50%;
    float: left;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.details{
    padding-top: 10px;
    padding-left: 10px;
}

.years{
    margin-left: 50%;
    text-align: right;
    padding-right: 10px;
}

.white_text{
    color: white;
}

.description{
    padding-left: 10px;
}

h5{
    margin-bottom: 5px;
}
.accomplishments{
    margin-top: 5px;
}