.menu{
	position: absolute;
	right: 0;
	background-color: red;
}

.menu_img{
	/*	makes the mouse a pointer */
		
	cursor: pointer;
	width: 50%;
	height: 50%;


}


.menu:hover {
  background-color: #555;
}


.content {
  	padding: 0 18px;
  	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
  	/*background-color: #f1f1f1;*/
  	
}